.debug{
  background-color: pink;
  border: 1px solid;
}

/******* HEADER *******/


/* NAVBAR */



/*******MAIN *******/

/* MENU LEFT */

.menu-left, .contents-dashboard{
  height: calc(100vh - 56px);
  margin-top: 56px;
}

.menu-house i, .menu-stats i, .menu-signals i{
  width: 30px;
}

.menu-stats i{
  font-size: 18px;
}

/* Hover */

.menu-house i:hover, .menu-stats i:hover, .menu-signals i:hover, .admin-menu i:hover{
  scale: 1.2;
}

/* CONTENTS DASHBOARD */

/* TABLE */



