.debug{
  background-color: pink;
  border: 1px solid;
}

/******* HEADER *******/


/* NAVBAR */



/*******MAIN *******/

/* MENU LEFT */
.menu-left, .contents-dashboard{
  height: 100vh;
  margin-top: 56px;
}
