

/******* HEADER *******/


/* NAVBAR */
.logo img:first-child{
  width: 28px;
  padding: 0;
}


/*******MAIN *******/

/* MENU LEFT */

.menu-left{
  background-color: #051E34;
  background-image: url(../img/img/sidebar-bg.png);
}

.menu-left, .contents-dashboard{
  height: calc(100vh - 88px);
  margin-top: 88px;
}

.menu-house i, .menu-stats i, .menu-signals i{
  width: 30px;
}

.menu-stats i{
  font-size: 18px;
}

/* Hover */

.menu-house i:hover, .menu-stats i:hover, .menu-signals i:hover, .admin-menu i:hover{
  scale: 1.2;
}

/* CONTENTS DASHBOARD */

.contents-dashboard{
  overflow-y: scroll;
}

/* CARD IMAGE */

#stats-img{
  width: 100%;
}

/* PROSSIME CLASSI */

.prossime-classi img{
  width: 30px;
}

 table i{
  font-size: 10px;
  border: black 1px solid;
  border-radius: 3px;
  padding: 5px;
}

